Repository tiagodocouto/product-service, changes with the labels that .github/labeler.yml gives for each.
All labels: @main, @test, @doc, @ci, @deps

.github/labeler.yml:

'@main':
  - 'src/main/kotlin/*'
  - 'src/main/kotlin/**/*'

'@test':
  - 'src/test/kotlin/*'
  - 'src/test/kotlin/**/*'

'@doc':
  - '*.md'
  - '**/*.md'
  - 'docs/*'
  - 'docs/**/*'

'@ci':
  - '.whitesource'
  - 'renovate.json'
  - 'qodana.yaml'
  - 'codecov.yml'
  - 'detekt-config.yml'
  - 'diktat-analysis.yml'
  - '.github/*'
  - '.github/**/*'

'@deps':
  - '*.kts'
  - '**/*.kts'
  - 'gradle/*'
  - 'gradle/**/*'

Updating README
  README.md
Labels: @doc

Updating README
  socket.yml
Labels: none

Improvements on .gitignore and adding CodeClimate config file
  .codeclimate.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/copyright/dev_docouto.xml
  .idea/copyright/profiles_settings.xml
  .idea/fileColors.xml
  .idea/scopes/ci_cd.xml
  .idea/scopes/configs.xml
  .idea/scopes/gradle.xml
Labels: none

#4 Architecture
  LICENSE.md
Labels: @doc

#4 Architecture
  .github/workflows/quality_checks.yml
  .run/product-service [commit-check].run.xml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
Labels: @ci, @deps

#4 Architecture
  .run/kotest.run.xml
  build.gradle.kts
  gradle.properties
  src/test/kotlin/dev/docouto/helpers/configs/KotestProjectConfig.kt
  src/test/resources/allure.properties
  src/test/resources/kotest.properties
Labels: @test, @deps

#4 Architecture
  .github/workflows/quality_checks.yml
  .run/product-service [pit].run.xml
  build.gradle.kts
Labels: @ci, @deps

#4 Architecture
  .github/workflows/quality_checks.yml
Labels: @ci

#4 Architecture
  .scripts/pre-commit
  build.gradle.kts
  gradle/libs.versions.toml
Labels: @deps

#4 Architecture
  .run/product-service [catalog update].run.xml
  .run/product-service [check].run.xml
  .run/product-service [commit-check].run.xml
  .run/product-service [pitest].run.xml
  build.gradle.kts
Labels: @deps

#4 Refactor project layout and add testing frameworks
  .github/workflows/quality_checks.yml
  .run/product-service [run].run.xml
  build.gradle.kts
  buildSrc/src/main/kotlin/ProjectExtensions.kt
  gradle.properties
  gradle/libs.versions.toml
  src/main/kotlin/dev/docouto/productservice/App.kt
  src/main/kotlin/dev/docouto/productservice/base/domain/document/BaseDocument.kt
  src/main/kotlin/dev/docouto/productservice/product/domain/document/Product.kt
  src/main/resources/application-local.properties
  src/main/resources/application.properties
  src/test/kotlin/dev/docouto/helpers/config/KotestProjectConfig.kt
  src/test/kotlin/dev/docouto/helpers/config/MongoDBConfig.kt
  src/test/kotlin/dev/docouto/helpers/context/IntegrationTestContext.kt
  src/test/kotlin/dev/docouto/helpers/extension/FakerExtensions.kt
  src/test/kotlin/dev/docouto/helpers/rule/ArchConditionShouldHaveTestForClass.kt
  src/test/kotlin/dev/docouto/helpers/spec/IntegrationTestSpec.kt
  src/test/kotlin/dev/docouto/helpers/spec/TestSpec.kt
  src/test/kotlin/dev/docouto/productservice/AppTests.kt
  src/test/kotlin/dev/docouto/productservice/ArchTests.kt
  src/test/kotlin/dev/docouto/productservice/base/domain/document/BaseDocumentTests.kt
  src/test/kotlin/dev/docouto/productservice/product/domain/document/ProductFixture.kt
  src/test/kotlin/dev/docouto/productservice/product/domain/document/ProductTests.kt
Labels: @main, @test, @ci, @deps

#4 fix reports
  .run/product-service [commit-check].run.xml
  gradle.properties
  src/main/kotlin/dev/docouto/productservice/product/domain/document/Product.kt
Labels: @main

#4 update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
  src/main/resources/application.properties
Labels: @deps
